* {
	scroll-behavior: smooth;
	font-family: "Limelight", sans-serif;
    font-weight: 600;
    font-style: normal;
}

body {
	padding: 0px;
	margin: 0px;
	background-image: url(https://images.unsplash.com/photo-1587202372583-49330a15584d?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8Y29tcHV0ZXIlMjBjYXNlfGVufDB8fDB8fHww);
	background-repeat: no-repeat;
	background-size:100%;
	background-position: top;
}

.nav {
	display: flex;
	justify-content: space-around;
	background-color:rgb(58, 7, 58);
}
.nav2{
	display: flex;
	flex-direction: row;
	justify-self: center;
	gap: 10px;
}
.nav2 ul li {
	list-style: none;
	color: black;
	text-decoration: none;
	
}

.nav2 button{
	padding: 5px;
	width: 150px;
	height: 5vh;
	background-color: black;
	color: white;
	font-size: 1rem;
}

.MyBuildhead {
	text-align: center;
}

.form-div{
	align-items: center;
	align-self: center;
	justify-content: center;
	justify-self: center;
}

.parts {
	background-color: rgb(63, 5, 5);
	border-radius: 10px;
	width: 900px;
	height:auto;
	align-items:flex-start;
	/* border-style: solid; */
	
}

.input-box {
	display: flex;
	flex-wrap: nowrap;
	flex-direction:row;
	/* margin-bottom: 300px; */
	margin-left: 50px;
	gap: 20px; 
	height: 40vh;
	/* justify-content: space-evenly; */
	
	
	
	
}

.input-box, #case-pic, #graphicscard, #processor, #ram-pic, #drive-pic, #psu-pic {
	height: 30vh;
	width: fit-content;
}

.input-box, #case, #gpuInput, #cpuInput, #ramInput, #storageinput, #power-supply-unit{
	height: 2.5vh;
	width: 300px;
} 

#btn {
	display: flex;
	gap: 50px;
}
	

#submit {
	width: 150px;
	border-radius: 5px;
	border-style: none;
}

#reset {
	width: 150px;
	border-radius: 5px;
	border-style: none;
}

.section {
	display: block;
	justify-self: center;
	align-content: center;
}

#final-build-pic {
	display: block;
	width: 1920px;
	height: auto;
}
footer {
	background-color:rgb(59, 158, 108);
	
}

.individualComponent {
	border-style:outset;
	height: 40vh;
	border-top-width: 0px;
	border-right-width: 0px;
	border-left-width: 0px;
	border-bottom-width: 1px;
	/* border-bottom-left-radius: 40px;
	border-bottom-right-radius: 20px; */
	box-shadow: 3px 3px 15px black;
}
.btns {
	justify-items: center;
	padding: 10px;	
	background-color: black;
}
#individualcomponemt-1{
	background-image: url(https://images.unsplash.com/photo-1660855551550-2696677aaf28?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fGNvbXB1dGVyJTIwY2FzZXxlbnwwfHwwfHx8MA%3D%3D);

	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
#individualcomponemt-2{
	background-image: url(https://images.unsplash.com/photo-1587134160474-cd3c9a60a34a?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8Z3JhcGhpY3MlMjBjYXJkfGVufDB8fDB8fHww);

	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
#individualcomponemt-3{
	background-image: url(https://images.unsplash.com/photo-1591799264318-7e6ef8ddb7ea?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Y3B1fGVufDB8fDB8fHww);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
#individualcomponemt-4{
	background-image: url(https://images.unsplash.com/photo-1562976540-1502c2145186?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8cmFtfGVufDB8fDB8fHww);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
#individualcomponemt-5{
	background-image: url(https://images.unsplash.com/photo-1597852074816-d933c7d2b988?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8aGFyZCUyMGRyaXZlfGVufDB8fDB8fHww);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
#individualcomponemt-6{
	background-image: url(https://images.unsplash.com/photo-1675954031909-ead493243be8?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8cG93ZXIlMjBzdXBwbHklMjB1bml0fGVufDB8fDB8fHww);
	background-repeat: no-repeat;
	background-position: center;
	background-size:cover;
}
