* {
	scroll-behavior: smooth;
	font-family: "Limelight", sans-serif;
    font-weight: 600;
    font-style: normal;
}

body {
	padding: 0px;
	margin: 0px;
	background-image: url('./assets/christian-wiediger-XfSk_BMLj0A-unsplash.jpg');
	background-repeat: no-repeat;
	background-size:100%;
	background-position: top;
}

.nav {
	display: flex;
	justify-content: space-around;
	background:transparent;
}
.nav2{
	display: flex;
	flex-direction: row;
	justify-self: center;
	gap: 10px;
	
}
.nav2 ul li a{
	list-style: none;
	color: black;
	text-decoration: none;
	font-style: normal;
	text-decoration-style: none;
	color: aqua;
	
}

.nav2 button{
	padding: 5px;
	width: 150px;
	height: 5vh;
	background-color: black;
	color: white;
	font-size: 1rem;
	border-radius: 15px;
	border-style: none;
	cursor: pointer;
	transition: all 200ms;
}
#darkmode:hover {

	color: black;
	transform: translateX(10px);
	background-color: wheat;

}

.MyBuildhead {
	text-align: center;
	color: beige;
}

.form-div{
	align-items: center;
	align-self: center;
	justify-content: center;
	justify-self: center;
}

.parts {
	background-color: rgb(63, 5, 5);
	border-radius: 10px;
	width: 900px;
	height:auto;
	align-items:flex-start;
	/* border-style: solid; */
	
}

.input-box {
	display: flex;
	flex-wrap: nowrap;
	flex-direction:row;
	/* margin-bottom: 300px; */
	margin-left: 50px;
	gap: 20px; 
	height: 40vh;
	/* justify-content: space-evenly; */
	
	
	
	
}

#storageinput, #ramInput, #cpuInput, #power-supply-unit, #gpuInput, #case{
	height: 2.5vh;
	width: 350px;
	justify-self:flex-start;
	margin-top: 70px;
	background-color: transparent;
	color: white;
	border-radius: 5px;
	border-style: solid;
	border-color: white;
	border-width: 1px;
	font-weight: 100;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 20px;
	padding: 10px;
	/* border-right: 0px;
	border-left: 0px;
	border-top: 0px;
	color: white; */
	
} 

#btn {
	display: flex;
	gap: 50px;
}
	

#submit {
	width: 150px;
	border-radius: 5px;
	border-style: none;
	transition: all 300ms;
	cursor: pointer;
}

#reset {
	width: 150px;
	border-radius: 5px;
	border-style: none;
	transition: all 300ms;
	cursor: pointer;
}

#submit:hover{
	color: white;
	transform: translateX(10px) translateY(-5px);
	background-color: darkred;
}
#reset:hover{
	color: white;
	transform: translateX(-5px) translateY(5px);
	background-color: darkred;

} 

.section {
	display: block;
	justify-self: center;
	align-content: center;
	background-image: url('./assets/andy-holmes-EOAKUQcsFIU-unsplash.jpg');
	background-repeat: no-repeat;
	background-position: center;
	height: 80vh;
	background-size: cover;
	width: 100%;
	
}

#final-build-pic {
	display: block;
	width: 1920px;
	height: auto;
}
footer {
	background-color:black;
	color: white;
	height: auto;
	display: flex;
	justify-content: center;
	flex-direction: row;
	
}
footer div {
	display: flex;
	flex-direction: row;
	gap: 20px;
	align-items: center;
}

.individualComponent {
	border-style:outset;
	height: 40vh;
	border-top-width: 0px;
	border-right-width: 0px;
	border-left-width: 0px;
	border-bottom-width: 1px;
	/* border-bottom-left-radius: 40px;
	border-bottom-right-radius: 20px; */
	box-shadow: 3px 3px 15px black;
	border-radius: 20px;
	transition: transform 300ms;
}
.individualComponent:hover {
	transform: translateX(10px)translateY(-10px);
}

.btns {
	justify-items: center;
	padding: 10px;	
	background-color: black;
}
#individualcomponemt-1{
	background-image: url('./assets/anthony-roberts-fMbiAi0rbkA-unsplash.jpg');

	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
#individualcomponemt-2{
	background-image: url('./assets/nana-dua-1-Sfd9QSPi4-unsplash.jpg');

	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
#individualcomponemt-3{
	background-image: url('./assets/francesco-vantini-ZavLsrP4CDI-unsplash.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
#individualcomponemt-4{
	background-image: url('./assets/liam-briese-lYxQ5F9xBDM-unsplash.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
#individualcomponemt-5{
	background-image: url('./assets/benjamin-lehman-GNyjCePVRs8-unsplash.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
#individualcomponemt-6{
	background-image: url('./assets/andrey-matveev-GwJLVb9XPxc-unsplash.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size:cover;
}



h1 {
	color: aqua;
}
#headingstyling {
	color: rgb(226, 162, 43);
}
#psu-label {
	color: black;
	font-size: 150px;
}
#stlabel {
	color: white;
	font-size: 100px;
}
#cpulabel {
	color: white;
	font-size: 150px;
}
#gpulabel{
	color: white;
	font-size: 150px;
}
#ramlabel{
	color: white;
	font-size: 150px;
}
#caselabel {
	font-size: 150px;
}


.final-text {
	background-color: black;
	width: 600px;
	height: 60vh;
	justify-self: center;
	border-radius: 30px;
	text-align: center;
	color: beige;
}
.logos {
	height: 5vh;
	width: 45px;
	transition: transform 300ms;
}
.logos:hover {
	transform: translateX(3px) translateY(-3px);
}
#whatsapp-no {
	margin-left:-40px ;
}